<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="tep.css">
<script src="https://kit.fontawesome.com/83e186406a.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
        <div class="navbar">
            <div class="logo-cont">
                <img class="logo" src="myntra_logo.jpg" alt="Ruturaj Constructions">
            </div>

            <div>
                <ul class="nav-links">
                    <li><a href="#"></a>HOME</li>
                    <li><a href="#"></a>ABOUT</li>
                    <li><a href="#"></a>SERVICES</li>
                    <li><a href="#"></a>PORTFOLIO</li>
                    <li><a href="#"></a>CONTACT US</li>
                </ul>
            </div>
        </div>
	
</header>
<main>
          <div class="banner">
		                   <h2 class="heading1">Lorem Ipsum is simply</h2>
			               <p class="paragraph1">
                                Lorem Ipsum is simply dummy text of the printing and <br>
                                typesetting indust Lorem Ipsum has been the industry's<br>
                                standard dummy text ever since the 1500 when an unknown.<br>
                                standard dummy text ever since the 1500 when an unknown.
                           </p>
						  <button class="btn1">
                                    LEARN MORE
                          </button>
		  </div>
		  
		  
		  
		  
		  <div class="row1">
		         <h2 class="heading2">WELCOME TO OUR SITE</h2>
                 <h4 class="heading22">Lorem Ipsum is simply dummy text of the printing</h4>
                 <p class="paragraph2">
                    Lorem Ipsum is simply dummy text of the printing and<br>
                    typesetting industry.Lorem Ipsum has been the industry's <br>
                    standard dummy text ever since the 1500s, when an unknown<br> 
                    printer took a galley of type and scrambled it to make a<br>
                    type specimen book.
                 </p>
		  </div>
		  
		  
		  
		  <div class="row2">
		  
		     <h3 class="heading3">OUR SERVICES</h3>
			 <p class="paragraph2"> Lorem Ipsum is simply dummy text of the
			 illo quaerat sunt eius ab aute printing and typesetting industry
			 Lorem Ipsum.
			 </p>
			 <div class="div1">
			 
			      <div class="D1">
			          <img class="IMG1" src="myntra_logo.jpg" alt="Image1">
					  <h5 class="heading4">Lorem ipsum dolor sit </h5>
			           <p class="paragraph2">
				                 Lorem Ipsum is simply dummy text of the<br>
				                 printing and typesetting industry.Lorem<br>
				                 Ipsum has been the industry's standard<br> 
				                 dummy text ever since the 1500.
			           </p>
			      </div>
				  
				  <div class="D1">
			          <img class="IMG1" src="myntra_logo.jpg" alt="Image1">
					  <h5 class="heading4">Lorem ipsum dolor sit </h5>
			           <p class="paragraph2">
				                 Lorem Ipsum is simply dummy text of the<br>
				                 printing and typesetting industry.Lorem<br>
				                 Ipsum has been the industry's standard<br> 
				                 dummy text ever since the 1500.
			           </p>
			      </div>
				  
				  <div class="D1">
			          <img class="IMG1" src="myntra_logo.jpg" alt="Image1">
					  <h5 class="heading4">Lorem ipsum dolor sit </h5>
			           <p class="paragraph2">
				                 Lorem Ipsum is simply dummy text of the<br>
				                 printing and typesetting industry.Lorem<br>
				                 Ipsum has been the industry's standard<br> 
				                 dummy text ever since the 1500.
			           </p>
			      </div>
			      
			  </div>   
		 </div>
		 
		 
		  <div class="row3">
		           <div class="div2">
		                <img class="officeimg" src="office.jpg" alt="image">
					</div>
					<div class="div3">
		                  <h4 class="heading5">Lorem Ipsum is simply dummy</h5>
		                   <p class="paragraph3">
				               Lorem Ipsum is simply dummy text of the<br>
				               printing and typesetting industry.Lorem<br>
				               Ipsum has been the industry's standard<br> 
				               dummy text ever since the 1500.Lorem Ipsum<br>
				               is simply dummy text of the<br>
				               printing and typesetting industry.
		                   </p>
					</div>
		  </div>
</main>
<footer>
         <div class="footer1">
            <h4>Contact With US</h4>
			 <div class="icon1">
			     <ul class="ulist3">
				 <li class="li1"> <i class="fa-brands fa-twitter"></i>
				 <li class="li1"> <i class="fa-brands fa-facebook"></i>
				 <li class="li1"> <i class="fa-brands fa-instagram"></i>
				 <li class="li1"> <i class="fa-brands fa-whatsapp"></i>
				  <li class="li1"> <i class="fa-brands fa-youtube"></i>
				 </ul>
		       </div>
			  
		 </div>
		  <div class="footer2">
	         <ul class="ulist2">
               <li><a href="#"></a>HOME</li>
               <li><a href="#"></a>ABOUT</li>
               <li><a href="#"></a>SERVICES</li>
               <li><a href="#"></a>PORTFOLIO</li>
               <li><a href="#"></a>CONTACT US</li>
			 </ul>
		     <br>
			  <br>
	     <p class="copyright">
            Copyright@2017. All rights reserved.
        </p>
		 </div>
		
		 
</footer>
</body>
</html>